
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Work+Sans:ital,wght@0,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.primary-color{
    background-color: #FF42A5;
}
/* navigation section started here */
.nav-content{
    display: flex;
    align-items: center;
}
.nav-image{
    margin-right: 10px;
    
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}
.text{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav{
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-menus{
    display: flex;
    gap: 20px;
    align-items: center;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.nav-menus a {
    text-decoration: none;
}
.nav-menus a:hover {
    color: blueviolet;
}
.nav-btn{
    padding: 5px;
    

}
.fa-youtube, .fa-tiktok{
    margin-left: 5px;
    
}
/* banner section started here */

.banner-container{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-text{
    border: 1px solid blue;
    height: 100vh;
}
.banner-img{
    border: 3px solid yellow;
}


/* button section started here */

.btn-container{
    border: 1px solid red;
    display: grid;
    grid-template-rows: 4 1fr;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 300px;
    border-radius: 50px;
}
.btn > text but {
    color: #0B0223;
    font-size: 200px;
    font-weight: 600;

}
.btn img {
    /* padding-left: 20px; */

}







/* footer section started here */
footer{
    background-color: #0B0223;
    /* justify-items: center; */
    justify-content: center;

    
}
.footer-title{
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: blue;
}
.footer-links{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    

}
.footer-links a{
    margin-left: 60px;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 60px;
}







.game-white{
    color: #FFF;
}
.footer-icons{
    text-align: center;
    
}

.footer-terms{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;

}
.footer-copyright{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    
}