
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Work+Sans:ital,wght@0,400;1,600;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.primary-color{
    background-color: #FF42A5;
}
/* navigation section started here */
.nav-content{
    display: flex;
    align-items: center;
}
.nav-image{
    margin-right: 10px;
    
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}
.text{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav{
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.nav-menus{
    display: flex;
    gap: 20px;
    align-items: center;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.nav-menus a {
    text-decoration: none;
}
.nav-menus a:hover {
    color: blueviolet;
    border-style:inset;
}
.nav-btn{
    padding: 5px;
    border: none;
    border-style: outset;
    border-radius: 5px;
    
    

}
.nav-btn:hover{
    color: blue;
}
.fa-youtube, .fa-tiktok{
    margin-left: 5px;
    
}
/* banner section started here */

.banner-container{
    
    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.banner-text{
    
    background-image: url(../images/Group\ 14.png);
    width: 50%;
    text-align: center;
    /* border: 1px solid blue; */
    /* height: 100vh; */
    padding: 90px;
    
}

.banner-title1{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.banner-title2{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    /* background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.linear-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-list-icon{
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-img{
    /* border: 3px solid yellow; */
    width: 50%;
    padding: 0;
}
.banner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-btn2{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 21px 40px;
    align-items:self-end;
    gap: 10px;
    border-radius: 48px;
    border: none;
    background: #4EC5F7;
}
.banner-btn2:hover{
    color: blue;
}
/* second banner section started here  */
 
.banner2-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px 50px 20px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.banner2-image{
    width: 100%;
    height: auto;
}
.banner2-content{
    text-align: right;
    
}
.banner2-title{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    /* background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}
.banner2-description{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 20px;
}
.banner2-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 21px 40px;
    align-items:self-end;
    gap: 10px;
    border-radius: 48px;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin: 30px 10px 20px 0px;
}
.banner2-btn:hover{
    color: blue;
    border-style: outset;
}
.banner2-content-footer{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px; 
}
.banner2-last-footer{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

/* funny video section started here */

.funny-container{
    /* display: grid;
    grid-template-rows: 4 1fr; */
    /* align-items: center; */
    /* justify-content: center; */
    
    margin: 10px 10px;

}
.funny-content{
   
    justify-content: center;
    margin-bottom: 15px;
}
.funny-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;

}
.funny-description{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.image{
    
    width: 300px;
    height: 400px;
    justify-content: space-between;
}
.funny-img{
    
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 15px;
    gap: 10px;
    margin-left: 30px;
    /* position: relative; */
}
.funny-img img {
    width: 90%;
    align-items: center;
    height: 90%;
    width: 88%;
    margin-left: 25px;
}


.funny-image p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    

}
/* funny image hover section */
 .funny-image{
    position: relative
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%;
    right: 50%; */
    /* transform: translate(-50%, -50%);
    box-shadow: 0px 10px 20px 0px; */
} 
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: black;
    cursor: pointer;

}
.overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.funny-image:hover .overlay{
    opacity: 0.8;
} 
    /* border-style: outset;
    text-overflow: calc(watch now);
} */
/* .funny-img img:hover{
    color: #F948B2;
    
} */

/* play instantly section started here */

.play-instant-container{
    border: 2px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.bg-img{
    height: 100%;
    margin-left: 150px;
}
.up-img{
    border-radius: 8px;
    position: relative;
    width: 320px;
    bottom: 270px;
    /* margin-left: 40px; */
}


.play-anywhere-container{
   
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-left: 50px;
    padding-right: 50px;
    

}
.bg-img1{
   
    height: 100%;
    margin-right: 150px;
}
.up-img1{
   
    border-radius: 8px;
    position: relative;
    /* width: 0px; */
    bottom: 250px; 
}

/* careers section started here */

.careers-container{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FF42A5;
    
}
.careers-content{
    
    width: 45%;
    padding-top: 20px;
    margin-top: 80px;
}
.careers-title{
    
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; 
    margin-bottom: 25px;
}
.careers-description{
    
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.careers-address{
   
    display: flex;
    justify-content: space-around;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}
.right{
    text-align: right;
}
.careers-image{
    
    width: 45%;
}
.careers-image img{
    width: 100%;
}
.careers-btn{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FFF;
    color: #FF42A5;
    margin-top: 30px;
    margin-bottom: 100px;
    font-weight: 700;
    border: none;
    box-shadow: 5px 5px 5px;
}
.careers-btn:hover{
    color: blue;
}
















/* button section started here */

.btn-container{
   
    display: flex;
    flex-wrap: wrap;
    margin: 60px 10px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* grid-template-columns: repeat(4 1fr); */
}
.btn{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    height: 80px;
    width: 200px;
    border-radius: 50px;
    border: none;
    box-shadow: 10px 5px 15px;
}
.btn  text {
    color: #0B0223;
    font-size: 200px;
    font-weight: 600;

}
.btn:hover{
    color: #FF42A5;
    border-style: outset;
}







/* footer section started here */


footer{
    background-color: #0B0223;
    /* justify-items: center; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    

    
}

    

.footer-title .nav-content {
    text-align: center;
    margin-top: 40px;
    padding-left: 40%;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: blue;
}
.footer-links{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    

}
.footer-links a{
    margin-left: 60px;
    display: inline-flex;
    padding: 10px;
    align-items: center;
    gap: 60px;
}
.game-white{
    color: #FFF;
}
.footer-icons{
    text-align: center;
    /* align-content: center; */
    /* justify-content: space-between; */
    
    
}

.footer-terms{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;

}
.footer-terms a:hover{
    border-style: outset;
}
.footer-copyright{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    
}